
$color-grey: #b8b8b8;
$color-green:#57cf6d;
$color-red:#ff0831;
$color-blue:#75b8ff;

$font:'Montserrat';

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

* {
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: $font;
}

@import './vegana_tree.scss';
