

.comp-builder-save{

}

  .comp-builder-save-form{
    text-align: center;
    padding: 10px;
    padding-top: 10vh;
  }

    .comp-builder-save-form-input{
      border: 5px solid $color-blue;
      padding: 10px;
      border-radius: 10px;
      font-size: 24px;
      width: 90%;
      // border: 5px solid red;
      text-align: center;
    }

    .comp-builder-save-form-button{
      display: inline-block;
      background-color: $color-green;
      color:white;
      padding: 10px;
      border-radius: 10px;
      margin-top: 10vh;
      font-size: 24px;
      cursor: pointer;
    }

//as is

.comp-builder-save-as_is{
  // border: 5px solid red;
}

  .comp-builder-save-as_is-message{
    padding: 10px;
  }

  .comp-builder-save-as_is-tag{
    padding: 15px;
  }

  .comp-builder-save-as_is-answer{
    text-align: right;
  }

    .comp-builder-save-as_is-answer-button{
      margin: 10px;
      display: inline-block;
      background-color: $color-blue;
      padding: 5px;
      color:white;
      border-radius: 5px;
      padding-left: 10px;
      padding-right: 10px;
      min-width: 50px;
      text-align: center;
      font-size: 24px;
      cursor: pointer;
      // color:$color-blue;
    }
